@font-face {
    font-family: LibreCaslonText;
    font-style: normal;
    font-weight: normal;
    src:url("../fonts/LibreCaslonText-Regular.ttf");
}
@font-face {
    font-family: LibreCaslonText;
    font-style: normal;
    font-weight: bold;
    src:url("../fonts/LibreCaslonText-Bold.ttf");
}
@font-face {
    font-family: LibreCaslonText;
    font-style: italic;
    font-weight: normal;
    src:url("../fonts/LibreCaslonText-Italic.ttf");
}
body { 
   font-family: "LibreCaslonText";
   text-align: justify;
}